body {
	background: url("../images/psychedelic_pattern_@2X.png");
	font-family: "Courier New", Courier, monospace;
	color: #885aff;
}

h1 {
	text-align: center;
	height: 50px;
	width: 90%;
	margin: 0 auto;
	font-size: 48px;
	margin-top: 50px;
}

ul {
	border: solid 1px #885aff;
	width: 80%;
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 20px;
	color: grey;
	line-height: 20px;
	padding: 10px;
}

#entire {
	background: white;
	height: 100%;
	width: 50%;
	margin: 0 auto;
	border: dashed 3px #885aff;
	margin-top: 100px;
}

#gameplay {
	width: 600px;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 10px;
}

#numbers {
	width: 50%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 10px;
	font-size: 20px;
}

#crystal-row {
	width: 500px;
	padding-left: 100px;
}

#crystal-1 {
	float: left;
}

#crystal-2 {
	float: left;
}

#crystal-3 {
	float: left;
}

#crystal-4 {

}

#tally {
	margin: 0 auto;
	width: 200px;
	text-align: center;
	font-size: 20px;
	margin-bottom: 20px;
	margin-top: 10px;
}
